/* ######### Drop Down DIVs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
	font: normal 13px Verdana;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;
	border-bottom-width: 0;
	visibility: hidden;
	z-index: 100;
	background:url(../images/cat-ul-bg.gif) no-repeat bottom center;
	padding-bottom:7px;
}

.ddsubmenustyle ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;
background:url(../images/cat-ul-bg.gif) no-repeat top center;
padding-top:5px;
}

.ddsubmenustyle li a{
display: block;
width: 189px; /*width of menu (not including side paddings)*/
color: black;
text-decoration: none;
padding: 6px 15px;
color:#333;
font:normal 12px Arial, Helvetica, sans-serif;
text-shadow:#fff 1px 1px 1px;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 219px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
color:#111;
font:normal 12px Arial, Helvetica, sans-serif;
text-decoration:underline;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}