body {margin:0px; padding:0px; background:#f4f4f4; font:13px normal Arial, Helvetica, sans-serif; color:#222;}
	#wrapper {width:1000px; margin:0 auto;background:url(../images/header-bg.jpg) repeat-x top center;}
	#header { height:220px; width:1000px; margin:0 auto;}
	#logo {float:left;}
	#top-nav {width:484px; float:left;}
	#top-nav #login { padding:10px; display:inline-block; clear:both;}
	#top-nav #login input {background:url(../images/login-bg.gif) no-repeat; border:0px; padding:6px 6px 7px 6px; width:139px; font: normal 12px Arial, Helvetica, sans-serif; color:#444; float:left;;}
	#login .top {clear: both;display: inline-block;width: 100%;}
	#login .top span {font:bold 12px Arial, Helvetica, sans-serif; color:#fff; text-shadow:#888 1px 1px 1px; display:block; padding:6px 10px 6px 14px; float:left;}
	
	#login .bottom { display:inline-block; clear:both; padding:10px 0px 10px 10px; text-align:right; float:right;}
	#login .bottom a, #login .bottom a:link, #login .bottom a:visited {background:url(../images/button.gif) no-repeat top left; display:block; padding-left:6px; text-decoration:none; color:#444; float:left; margin-right:5px; }
	#login .bottom a span, #login .bottom a:link span, #login .bottom a:visited span{background:url(../images/button.gif) no-repeat top right; display:block; padding: 5px 6px 6px 0px; }
	#login .bottom a:hover, #login .bottom a.actived {background:url(../images/button-hover.gif) no-repeat top left; display:block; padding-left:6px; text-decoration:none; color:#fff; text-shadow:#333 1px 1px; float:left; margin-right:5px;}
	#login .bottom a:hover span, #login .bottom a.actived span{background:url(../images/button-hover.gif) no-repeat top right; display:block; padding: 5px 6px 6px 0px; }
	
	#menu {display:inline-block; clear:both;}
	#menu {background:url(../images/menu-bg.jpg) no-repeat top left; display: inline-block; clear:both; padding-left:6px;}
	#menu ul {background:url(../images/menu-bg.jpg) no-repeat top right; display: inline-block; clear:both; padding-right:6px;}
	#menu ul li {float:left; background:url(../images/menu-split.jpg) no-repeat right; padding:0px 7px; }
	#menu ul li.last {background:none;}
	#menu ul li a {display:block; padding-left:6px; text-transform:uppercase; font: bold 12px Arial, Helvetica, sans-serif; color:#444; text-shadow:#ccc 1px 1px;}
	#menu ul li a span {display:block; padding:11px 11px 11px 6px;}
	
	#menu ul li a:hover, #menu ul li a.actived {background:url(../images/menu-hover.jpg) no-repeat top left; margin-left:-2px; padding-left:8px; color:#fff; text-shadow:#333 1px 1px;}
	#menu ul li a:hover span, #menu ul li a.actived span{background:url(../images/menu-hover.jpg) no-repeat top right;}
	.search-bar {display:inline-block; clear:both; padding:10px 0px; width:100%;}
	.search-box {float:left; padding:0px 30px;}
	.search-box input {background:url(../images/search-bg.jpg) no-repeat top left; border:0px; width:400px; padding:6px 5px; float:left; font:normal 12px Arial, Helvetica, sans-serif; color:333;}
	.search-box a {display:block; float:left;}
	.cart-message a.cart {display:block; float:left; padding-right:5px;}
	.cart-message span.message {display:block; float:left; padding:5px;}
	.cart-message span.message strong {font:bold 13px Arial, Helvetica, sans-serif; color:#F00;}
	
	
	#footer {display:inline-block; clear:both; width:100%; }
	#footer .footer-c {width:1000px; margin:0 auto;background:url(../images/footer-bg.jpg) repeat-x bottom center;}
	#footer .quick-link {display:inline-block; clear:both; width:100%; padding:10px 0px 10px 0px;}
	#footer .quick-link ul {float:left; width:25%;}
	#footer .quick-link ul li {padding:5px 0px 0px 40px;}
	#footer .quick-link ul li strong {font-weight:bold;}
	#footer .quick-link ul li,
	#footer .quick-link ul li a, 
	#footer .quick-link ul li a:link, 
	#footer .quick-link ul li a:visited {color:#fff; text-shadow:1px 1px 0 #373434, 1px 2px 0 #4F4F4F; font:normal 12px Arial, Helvetica, sans-serif; }
	#footer .quick-link ul li a:hover {text-decoration:underline;}
	#footer .quick-link ul li.header {font-weight:bold; padding-bottom:5px; text-shadow:1px 1px 0 #373434, 1px 2px 0 #4F4F4F;}
	#footer .copyright {padding:10px; line-height:150%; text-align:center;}
	#footer .copyright strong {font-weight:bold;}
	
	#content {width:1000px; margin:0 auto}
	.left-col {width:250px; float:left;}
	.right-col {width:740px; float:right;}
	.box-container {padding-bottom:10px; width:100%; display:inline-block; clear:both;}
	
	.product-category {background:url(../images/cat-bg.jpg) repeat-y top center; display:inline-block; clear:both; width:100%; }
	.product-category .header {background:url(../images/cat-header.jpg) no-repeat top left; padding-left:8px;}
	.product-category .header span {background:url(../images/cat-header.jpg) no-repeat top right; display:block; padding:10px 8px 10px 0px; text-transform:uppercase; color:#fff; font: bold 12px Arial, Helvetica, sans-serif; text-shadow:#333 0px 1px 1px;}
	.product-category ul {background:url(../images/cat-footer.jpg) no-repeat bottom center; padding:5px 0px 15px 0px;}
	.product-category ul ul, .product-category ul ul ul {background:none; padding:0px;}
	
	.product-category ul li {padding:0px 9px 0px 7px; }
	.product-category ul li a { font:bold 12px Arial, Helvetica, sans-serif; color:#666; text-shadow:#fff 1px 1px 1px;display:block; padding-left:10px;}
	.product-category ul li a:hover, .product-category ul li a.selected {background:url(../images/cat-menu-hover.jpg) no-repeat top left;}
	.product-category ul li a span {display:block; padding:8px 0px 8px 0px;}
	.product-category ul li a:hover span { background:url(../images/cat-menu-hover-right.jpg) no-repeat top right;}
	
	.box-left .header {background:url(../images/box-left-header.jpg) no-repeat top left; padding-left:30px; }
	.box-left .header a,
	.box-left .header a:link,
	.box-left .header a:visited {display:block; background:url(../images/box-left-header.jpg) no-repeat top right; padding:7px 10px 14px 0px; font:bold 14px Arial, Helvetica, sans-serif; color:#004f99; text-shadow:#fff 0px 1px 1px; }
	.box-left .content {background:#fff; border:1px solid #cacaca; border-top:0px; padding:5px 10px 10px 10px;}
	.box-left .content li {padding: 5px 5px 5px 20px; background:url(../images/icon-box-left.jpg) no-repeat 5px 8px; text-align:justify;}
	.box-left .content li a,
	.box-left .content li a:link,
	.box-left .content li a:visited {color:#333; font:normal 12px Arial, Helvetica, sans-serif;}
	.box-left .content li a:hover {color:#033F87;}
	
	.box-home {background:url(../images/home-slider-bg.jpg) repeat-x top center;}
	.box-home .header {background:url(../images/home-header-bg.jpg) no-repeat top left; }
	.box-home .header .promote {background:url(../images/icon-promote.jpg) no-repeat top left; padding:11px 5px 12px 37px;}
	.box-home .header .new {background:url(../images/icon-new.jpg) no-repeat top left; padding:11px 5px 12px 37px;}
	.box-home .header div a span,
	.box-home .header div a:link span,
	.box-home .header div a:visited span {font:bold 12px Arial, Helvetica, sans-serif; color:#fff; text-shadow:#333 0px 1px 1px;}
	.box-home .header div a:hover span {text-decoration:underline;}
	
	.box-product .content {padding:10px 20px; border:1px solid #cbcac8; border-top:0px; background:#ffffff;}
	.box-product .content ul {display:inline-block; clear:both; width:100%;}
	.box-product .content ul li {float:left; padding:11px; width:150px;}
	.box-product .content ul li .image {background:url(../images/shadow-bg.jpg) no-repeat bottom center; padding:0px 5px 8px 5px;}
	.box-product .content ul li .image a {width:140px; height:115px; display:block; padding:2px; border:1px solid #ccc;}
	.box-product .content ul li .image a span.label {display:block; float:right; background:url(../images/label-promote.gif) no-repeat top right; width:32px; height:21px; padding:17px 5px 10px 7px; font:bold 12px Arial, Helvetica, sans-serif; color:#F00; text-shadow:#fff 0px 1px 1px;} 
	
	.box-product .content .info {text-align:center;}
	.box-product .content .info p {line-height:120%;}
	.box-product .content .info a,
	.box-product .content .info a:link,
	.box-product .content .info a:visited {color:#333; font:normal 11px Tahoma, Geneva, sans-serif; text-shadow:#eee 0px 1px 1px;}
	.box-product .content .info a:hover {color:#003A83;}
	.box-product .content .info strong {font:bold 12px Arial, Helvetica, sans-serif; color:#555;}
	.box-product .content .info strong.price {color:#F00;}
	
	.tooltip {padding:10px;}
	.tooltip p {display:inline-block; clear:both; width:100%; padding-bottom:8px; font:normal 12px Arial, Helvetica, sans-serif; line-height:140%; text-align:justify;}
	.tooltip p span {float:left; color:#222;}
	.tooltip p span.label {width:80px; color:#555;}
	.tooltip p span.price {color:#C30;font-weight:bold;}
	.tooltip p span.promote {color:#173399;}
	.tooltip div img {width:290px !important; border:1px solid #bbb; background:#fff; padding:2px;}
	
	
	.box-tabs {background:url(../images/box-tab-bg.gif) no-repeat top left;}
	.box-tabs .header {background:url(../images/box-tab-bg.gif) no-repeat top right;}
	.box-tabs .header .label {background:url(../images/tabs-bg-left.gif) no-repeat top left; display:inline-block; padding-left:10px;}
	.box-tabs .header .label div {background:url(../images/tabs-bg-left.gif) no-repeat top right; display:inline-block; padding:9px 35px 9px 0px; text-transform:uppercase; color:#fff; font:bold 12px Arial, Helvetica, sans-serif; text-shadow:1px 1px 0 #222222, 1px 2px 0 #686873;}

	ul.tabs {float:right; padding-right:10px;}
	ul.tabs li {float:left; padding-left:5px;}
	ul.tabs li a,
	ul.tabs li a:link,
	ul.tabs li a:visited {display:block; padding-left:10px;}
	ul.tabs li a span,
	ul.tabs li a:link span,
	ul.tabs li a:visited  span{display:block; padding:11px 10px 7px 0px; font:bold 12px Arial, Helvetica, sans-serif; color:#444;}
	
	ul.tabs li a:hover,
	ul.tabs li a.selected {background:url(../images/tabs-select.gif) no-repeat top left;}
	ul.tabs li a:hover span,
	ul.tabs li a.selected span {background:url(../images/tabs-select.gif) no-repeat top right; }
	
	.box-product .content ul.sub-cats {width:100%; display:inline-block; clear:both; padding:0px;}
	.box-product .content ul.sub-cats li {float:left; padding:0px 0px 0px 25px; width:auto; background:url(../images/tabs-split.gif) no-repeat 12px 0px;}
	.box-product .content ul.sub-cats li.first {background:none;}
	.box-product .content ul.sub-cats li a,
	.box-product .content ul.sub-cats li a:link,
	.box-product .content ul.sub-cats li a:visited {font:bold 12px Arial, Helvetica, sans-serif; color:#444;}
	.box-product .content ul.sub-cats li a:hover {color:#003A83;}
	
	.support{border:1px solid #cccccc;margin-bottom: 15px;text-align: center;}
	.support_title{margin-top: 10px;padding-bottom: 5px;color:red;}
	.support_ym{margin-bottom: 10px;}
	.box_content{border:1px solid #cccccc;padding:5px;}
	.box-news .content {padding:10px 20px; border:1px solid #cbcac8; border-top:0px; background:#ffffff;}
	
	.box-news .content ul li .news{clear:both; padding-top:10px; padding-bottom:10px;}
	.box-news .content ul li .news-desc p{padding-bottom:5px;}
	.box-news .content ul li .news-desc .news-title{font-weight:bold; color:#000000; font-size:13px}
	.box-news .content ul li .news-desc a{font-weight:bold; font-size:13px;}
	.box-news .content ul li .news-desc a:hover{text-decoration:underline;}
	.box-news .content ul li .news-desc{padding-top:5px;}
	.box-news .content ul li .news-img{float:left; width:100px; padding-right:10px;}
	.box-news .content ul li .news-img img{width:100px; height:80px;}
	.box-news .content ul li .news-line{clear:both; border:1px dotted #CCC; border-top:0px; margin-bottom:10px; }
	.box-news .content .paging{margin-top:20px; text-align:right}
	.box-news .content .paging span{font-weight:bold}
	.box-news .content ul li .news-content{font-size:13px;}
	.box-news .content ul li .news-content p{padding-bottom:5px; font-size:14px;}
	.box-news .content ul li .news-content .news-title{font-weight:bold; color:#000000; font-size:14px}
	.box-news .content ul li .news-content a:hover{text-decoration:underline;}
	.box-news .content ul li .news-content{padding-top:5px; text-align:justify}
	#info{height:100px; padding-left:20px; font-weight:bold; color:#ffffff}
	#info>p{padding-top:15px;}
	.news-other-title{padding-top:20px; font-weight:bold;}
	.news-other-list ul{padding-left:25px; padding-top:10px; list-style:circle}
	.news-other-list ul li{padding:5px 5px 5px 0px;}
	.news-other-list ul li a:hover{text-decoration:underline}